@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins',sans-serif !important;
}
.animated-card {
    text-align: center;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  
  .animated-card:hover {
    transform: translateY(-10px);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
  }
  
  .card1 {
    background: linear-gradient(135deg); 
    /* color: #008080; */
  }

  
  .card2 {
    background: linear-gradient(135deg); 
    /* color: #008080; */
  }
  
  .card3 {
    background: linear-gradient(135deg); 
    /* color: #008080; */
  }
  /* .animated-card card1{

  } */